<br/> 
<div class="row-fluid" style="margin-top:50px">
  <div class="span4 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { }) do |f| %>
      <!--
      <% if session["devise.weibo_data"] %>
        <h2>完成注册</h2>
        <%= f.hidden_field(:provider, :value=>session["devise.weibo_data"].provider) %>
        <%= f.hidden_field(:uid, :value=>session["devise.weibo_data"].uid) %>
      <% else %>
        <div class="row">
          <div class="span2">
            <h2>注册</h2>
          </div>
          <div class="span2 offset4">
            <%= link_to "使用新浪微博注册", user_omniauth_authorize_path(:weibo), :class=>"btn" %><br/><br/>
          </div>
          <div class="span2">
            <%= link_to "使用腾讯微博注册", user_omniauth_authorize_path(:weibo), :class=>"btn" %><br/><br/>
          </div>
        </div>
      <% end %>
      -->
      
      <div>
        <div class="row-fluid">
          <div class="span4" style="min-width:120px">
            <h2>Project<br/>Hamburg</h2>
          </div>
          <div class="span8" style="margin-top:10px;min-width:250px">
            <p><%= f.email_field :email, :placeholder=>"电子邮箱", :class=>"input-100" %></p>
            <p><%= f.password_field :password, :placeholder=>"密码", :class=>"input-100" %></p>
            <p><%= f.password_field :password_confirmation, :placeholder=>"密码确认", :class=>"input-100" %></p>
            <p><div style="text-align:left;margin-top:20px">我同意遵守<a href="#">约定条款</a></div></p>
              <div class="row-fluid">
                  <div class="span2" style="min-width:90px">
                    <%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
                      <i class="icon-ok icon-white"></i> 注 册
                    <% end %>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>