<%= form_for(@transaction, :remote => true) do |f| %>
<div class="modal hide show fade" id="new-transaction-modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <% if @transaction.persisted? %>
      <h3>修改</h3>
    <% else %>
      <h3>记帐</h3>
      <div style="display:inline" class="modal-header-btn-group">
        <div class="btn-group">
          <a class="btn btn-small btn-info active" id="new-transaction-income-expense">收入/支出</a>
          <a class="btn btn-small" id="new-transaction-cash">现金存取</a>
          <a class="btn btn-small" id="new-transaction-creditcard">信用卡还款</a>
          <a class="btn btn-small" id="new-transaction-transfer">内部转帐</a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-body" id="transaction-income-expense">

    <div class="field visible-income-expense">
      帐户 : <%= f.collection_select :account_id, @accounts, :id, :name %>
    </div>

    <div class="field" id="transaction-cash-in-out" style="display:none">
      存取 :
      <div class="btn-group" style="display:inline;margin-bottom:5px">
          <a class="btn btn-small" id="new-transaction-cash-in">存款</a>
          <a class="btn btn-small btn-info active" id="new-transaction-cash-out">取现</a>
      </div>
    </div>

    <% if @transaction.link_transaction %>
      <div class="field visible-transfer">
        <%= @transaction.transaction_type == 1 ? "转入" : "转出"%> : <%= @transaction.account.name %>
      </div>

      <div class="field visible-transfer">
        <%= @transaction.transaction_type == -1 ? "转入" : "转出"%> : <%= @transaction.link_account.name %>
      </div>
    <% else %>
      <div class="field visible-transfer">
        <%= "转出" %> : <%= f.collection_select :transfer_account, @accounts, :id, :name %>
      </div>

      <div class="field visible-transfer">
        <%= "转入" %> : <%= f.collection_select :link_account, @accounts, :id, :name %>
      </div>
    <% end %> 

    <div class="field visible-income-expense">
      类型 : <%= f.select :transaction_type, options_for_select([["支出", "-1"],["收入", "1"], ["", "0"]], @transaction.transaction_type) %>
      <%= f.collection_select :transaction_category, 
                              TransactionCategory.find(:all, :conditions => 'transaction_type=' + (@transaction.persisted? ? @transaction.transaction_type : -1).to_s),
                              :id, :name, {:selected => @transaction.transaction_category ? @transaction.transaction_category.id : 1} %>
    </div>
    <div class="field">
      数额 : <%= f.text_field :amount %>
    </div>
    <div class="field">
      日期 : <input type="input" value="<%= l @transaction.created_at %>" id="transaction_created_at_value" />
      <%= f.hidden_field :created_at, :value=>@transaction.created_at %>
    </div>
    <div class="field" style="margin-top:20px;">
      标签 : <%= f.text_field :tag_list, :placeholder=>"用逗号分隔", :class=>"input-80" %>
      <a href="#" id="toggle-description-link" title="添加备注"><i class="icon-th-large"></i></a>
    </div>
    <div class="field" style="display:none" id="transaction-description">
      备注 : <%= f.text_area :description, :size => "20x5", :placeholder=>"备注", :class=>"input-80" %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">取消</a>
    <%= f.submit "提交", :class=>"btn btn-primary"%>
  </div>

</div>
<% end %>


