<%= form_for(@transaction, :remote => true) do |f| %>
<div class="modal hide show fade" id="new-transaction-modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <% if @transaction.persisted? %>
      <h3>修改流水</h3>
    <% else %>
      <h3>新建流水</h3>
    <% end %>
  </div>

  <div class="modal-body">

    <div class="field">
      帐户 : <%= f.collection_select :account_id, @accounts, :id, :name %>
    </div>
    <div class="field">
      类型 : <%= f.select :transaction_type, options_for_select([["支出", "-1"],["收入", "1"]], @transaction.transaction_type) %>
      <%= f.collection_select :transaction_category, 
                              TransactionCategory.find(:all, :conditions => 'transaction_type=' + (@transaction.persisted? ? @transaction.transaction_type : -1).to_s),
                              :id, :name, {:selected => @transaction.transaction_category ? @transaction.transaction_category.id : 1} %>
    </div>
    <div class="field">
      数额 : <%= f.text_field :amount %>
    </div>
    <div class="field">
      日期 : <input type="input" value="<%= l @transaction.created_at %>" id="transaction_created_at_value" />
      <%= f.hidden_field :created_at, :value=>@transaction.created_at %>
    </div>
    <div class="field" style="margin-top:20px;">
      标签 : <%= f.text_field :tag_list, :placeholder=>"用逗号分隔", :class=>"input-80" %>
      <a href="#" id="toggle-description-link" title="添加备注"><i class="icon-th-large"></i></a>
    </div>
    <div class="field" style="display:none" id="transaction-description">
      备注 : <%= f.text_area :description, :size => "20x5", :placeholder=>"备注", :class=>"input-80" %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">取消</a>
    <% if @transaction.persisted? %>
      <%= f.submit "修改流水", :class=>"btn btn-primary"%>
    <% else %>
      <%= f.submit "新建流水", :class=>"btn btn-primary"%>
    <% end %>
  </div>

</div>
<% end %>


