// Show tooltip at the given position with the given contents
function showTooltip(x, y, contents) {
  $('<div id="tooltip">' + contents + '</div>').css( {
    position: 'absolute',
    display: 'none',
    top: y + 5,
    left: x + 5,
    border: '1px solid #fdd',
    padding: '2px',
    'background-color': '#fee',
    opacity: 0.80
  }).appendTo("body").fadeIn(200);
}

// plot the transactions by date using flot
function flot_transaction_by_date() {
  var showIncome = $("#show_income_checkbox").attr("checked");
  var showExpense = $("#show_expense_checkbox").attr("checked");

  var json = <%= transactions_json_flot_data(@transactions, @start_date, @end_date).to_json.html_safe %>;
  var incomes = [];
  var expenses = [];
  var data = [];

  if (showIncome) {
    for (var key in json.income) {
      incomes.push([key, json.income[key].total]);
    }
    data.push({data: incomes, label:"收入", color:"#EDC240"});
  }
  if (showExpense) {
    for (var key in json.expense) {
      expenses.push([key, json.expense[key].total]);
    }
    data.push({data: expenses, label:"支出", color:"#AFD8F8"});
  }


  $("#transactions-by-time").empty();
  $.plot($("#transactions-by-time"),
        data,  
        {
          xaxis: { mode: "time", timeformat: "%m月%d日"/*, autoscaleMargin: 0.02*/ },
          series: {
           lines: { show: true },
           points: { show: <%= @days <= 30 %> }
          },
          grid: { hoverable: true, clickable: true }
        }
  );
}

function flot_transaction_by_category() {

  var json = <%= transactions_json_flot_data_by_category(@transactions).to_json.html_safe %>;
  var incomes = [];
  var expenses = [];

  for (var key in json.income) {
      incomes.push({label:key, data:json.income[key].total});
  }

  for (var key in json.expense) {
      expenses.push({label:key, data:json.expense[key].total});
  }

  $("#transactions-by-category-income").empty();
  $.plot($("#transactions-by-category-income"), incomes,
        {
          series: {
            pie: { 
              show: true,
              label: {
                show: true,
                radius: 1/2,
                formatter: function(label, series){
                  return '<div style="font-size:10pt;text-align:center;padding:2px;color:black;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                },
                background: { opacity: 1 }
              }
            }
          },
          legend: {
            show: true
          },
          grid: {
            hoverable: true,
            clickable: true
          }
        }
  );
  $("#transactions-by-category-expense").empty();
  $.plot($("#transactions-by-category-expense"), expenses,
        {
          series: {
            pie: { 
              show: true,
              label: {
                show: true,
                radius: 1/2,
                formatter: function(label, series){
                  return '<div style="font-size:10pt;text-align:center;padding:2px;color:black;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                },
                background: { opacity: 1 }
              }
            }
          },
          legend: {
            show: true
          },
          grid: {
            hoverable: true,
            clickable: true
          }
        }
  );
}

// show the data by table
$('#main-content').html('<%= escape_javascript(render :partial=>"transactions", :object=>@paged_transactions) %>');

// initialize data filter
$('#start_date').datepicker({ altFormat: "yy-mm-dd", dateFormat: "yy年mm月dd日", altField: '#start_date_value', maxDate: "+0D", showButtonPanel: true});
$('#end_date').datepicker({ altFormat: "yy-mm-dd", dateFormat: "yy年mm月dd日", altField: '#end_date_value', maxDate: "+0D", showButtonPanel: true});
$("#start_date").bind("change", function(){
  if (!$(this).val()) $("#start_date_value").val('');
});
$("#end_date").bind("change", function(){
  if (!$(this).val()) $("#end_date_value").val('');
});

$('#date-filter > .btn').removeClass('active');

<% if !params[:by].nil? %>
  $('#filter_<%= @by %>').addClass('active');
<% elsif !params[:start_date].nil? or !params[:end_date].nil? %>
  $('#filter_<%= @by %>').removeClass('active');
<% else %>
  $('#filter_all').addClass('active');
<% end %>


// events
$("#transactions-by-time").bind("plothover", function (event, pos, item) {
  if (item) {
    $("#tooltip").remove();
    var x = item.datapoint[0];
    var y = item.datapoint[1].toFixed(2);
    showTooltip(item.pageX, item.pageY, formatDate(new Date(x), "%Y年%m月%d日") + ", " + item.series.label + " " + y + "元");
  }
  else {
    $("#tooltip").remove();
  }
});

$("#show_income_checkbox").bind("click", function() {
  flot_transaction_by_date();
});

$("#show_expense_checkbox").bind("click", function() {
  flot_transaction_by_date();
});

$("#flot_transactions_by_date_title").html("<%= flot_transactions_by_date_title @start_date, @end_date, @by %>");

$('#flot_type_value').attr("value", "<%= @flot_type %>");

$('#flot-tab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    $('#flot_type_value').val($(this).attr("name"));
})

$('.btn').bind('ajax:before', function() {
    if ($('#by_date').hasClass('active')) {
      $(this).data('params', { flot_type: 'by_date' });
    } else if ($('#by_category').hasClass('active')) {
      $(this).data('params', { flot_type: 'by_category' });
    }
});
