
        <div class="row-fluid">
            <!-- the range buttons -->
            <div class="btn-group" data-toggle="buttons-radio" style="float:right;margin-bottom:10px" id="date-filter">
                <%= link_to '一周', {:controller=>'transactions', :action=>'index', :by=>"week"}, :remote => true, :class=>"btn", :id=>"filter_week" %>
                <%= link_to '一月', {:controller=>'transactions', :action=>'index', :by=>"month"}, :remote => true, :class=>"btn", :id=>"filter_month" %>
                <%= link_to '一年', {:controller=>'transactions', :action=>'index', :by=>"year"}, :remote => true, :class=>"btn", :id=>"filter_year" %>
                <%= link_to '全部', {:controller=>'transactions', :action=>'index'}, :remote => true, :class=>"btn", :id=>"filter_all" %>
          </div>
      </div>
      <div class="well">
        <div class="row-fluid">
            <div class="span12" id="transactions-by-time" style="height:300px"></div>
        </div>
      </div>

<!--
    <br/>
    <div class="row-fluid">
        <div class="span12">
            <%= link_to '记帐', new_transaction_path, :remote => true, :class=>"btn btn-primary", :style=>"float: right" %>
        </div>
    </div>
-->
    <br/>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-striped" id="transactions-table">
                <tr>
                    <th><%= sortable 'account_id', '帐户' %></th>
                    <th><%= sortable 'amount', '金额' %></th>
                    <th><%= sortable 'transaction_type', '类型' %></th>
                    <th><%= sortable 'transaction_category_id', '类别' %></th>
                    <th><%= sortable 'to_account_id', '转入帐户' %></th>
                    <th><%= sortable 'created_at', '日期' %></th>
                    <th></th>
                    <th></th>
                </tr>
                <% @transactions.each do |transaction| %>
                    <%= render :partial=>transaction %>
                <% end %>
            </table>
            <div style="float:right;display:inline">
                <%= paginate @paged_transactions %>
            </div>
        </div>
    </div>

