<div class="row-fluid">
    <div class="span12">
        <table class="table table-hover" id="transactions-table">
            <tr>
                <th style="min-width:80px"><%= sortable 'account_id', '帐户' %></th>
                <th><%= sortable 'amount', '金额' %></th>
                <th><%= sortable 'transaction_type', '类型' %></th>
                <th><%= sortable 'transaction_category_id', '类别' %></th>
                <th style="min-width:100px"><%= sortable 'created_at', '日期' %></th>
                <th style="min-width:100px"><%= '详细信息' %></th>
                <th style="min-width:50px"></th>
            </tr>
            <% @transactions.each do |transaction| %>
                <%= render :partial=>transaction %>
            <% end %>
        </table>
    </div>
</div>
