<tr id="transaction_<%= transaction.id %>">
  <% if !@account %>
    <td><%= transaction.account.name %></td>
  <% end %>
  <td><%= transaction.amount %></td>
  <td><%= ["支出","转帐","收入"][transaction.transaction_type + 1] %></td>
  <td><%= transaction.transaction_category.name %></td>
  <td><%= l transaction.created_at %></td>
  <td><%= transaction.description %>
      <% if !transaction.tag_list.empty? %>
        <% if transaction.description && !transaction.description.empty? %>
          <br/>
        <% end %>
        <% transaction.tags.each do |tag| %>
          <span class="label label-info pull-left" style="color:white;margin-left:2px;margin-top:2px;font-size:1em"><%= tag.name %></span>
        <% end %>
      <% end %>
  </td>
  <td style="min-width:30px">
    &nbsp;
    <%= link_to edit_transaction_path(transaction), :remote=>true, :rel=>"tooltip", :title=>"修改" do %>
      <i class="icon-pencil"></i><div style="font-size:11px;display:inline"></div>
    <% end %>
    &nbsp;
    <%= link_to transaction, method: :delete, data: { confirm: '确定要删除吗？' }, :remote=>true, :title=>"删除" do %>
      <i class="icon-remove"></i><div style="font-size:11px;display:inline"></div>
    <% end %>
  </td>
</tr>