$('#new-transaction').html($('<%= escape_javascript(render(:partial => "form", :object=>@transaction)) %>'))
$('#new-transaction-modal').modal('toggle');

$('#transaction_created_at_value').datepicker({ altFormat: "yy-mm-dd", dateFormat: "yy年mm月dd日", altField: '#transaction_created_at', maxDate: "+0D", showButtonPanel: true});

<% if @transaction.persisted? && @transaction.transaction_type == 0%>
  $('#transaction_to_account_field').show();
  $('#transaction_transaction_category_field').hide();
<% else %>
  $('#transaction_to_account_field').hide();
  $('#transaction_transaction_category_field').show();
<% end %>

$('#transaction_account_id').bind('change', function() {
  if ($('#transaction_transaction_type').val() == 0) {
    $('#transaction_to_account').empty();
    <% for account in @accounts %>
      if ($(this).val() != <%= account.id %>) {
        $('#transaction_to_account').append('<option value="<%= account.id %>"><%= account.name %></option>')
      }
    <% end %>
  }
});


$('#transaction_transaction_type').bind('change', function() {
  $('#transaction_transaction_category').empty();
  $('#transaction_to_account_field').hide();
  $('#transaction_transaction_category_field').show();
  if ($(this).val() == 1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
  if ($(this).val() == -1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=-1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
  if ($(this).val() == 0) {
    $('#transaction_transaction_category_field').hide();
    $('#transaction_to_account_field').show();
    $('#transaction_to_account').empty();
    <% if @transaction.account.nil? %>
      <% for account in @accounts.collect{|x| x.id == @accounts[0].id ? nil : x}.compact() %>
        $('#transaction_to_account').append('<option value="<%= account.id %>"><%= account.name %></option>')
      <% end %>
    <% else %>
      <% for account in @accounts.collect{|x| x.id == @transaction.account.id ? nil : x}.compact() %>
        $('#transaction_to_account').append('<option value="<%= account.id %>"><%= account.name %></option>')
      <% end %>
    <% end %>
  }
});
