<div class="row-fluid">
<div class="span6">
  <h3>全部流水<% if @account %> - <%= @account.name %><% end %></h3>
</div>
<% if @account %>
    <div class="span3 offset3" style="margin-top:15px;">
      <div style="float:right">
        <%= link_to new_account_transaction_path(@account), :remote=>true, :class=>"btn btn-inverse", :account=>@account do %>
          <i class="icon-plus-sign icon-white"></i> <div style="font-size:20px;display:inline">记帐</div>
        <% end %>
      </div>
    </div>
<% end %>
</div>

<div class="row-fluid">

    <div class="span12">
        <table class="table table-hover" id="transactions-table">
            <tr>
                <% if !@account %>
                    <th style="min-width:80px">帐户</th>
                <% end %>
                <th><%= sortable 'amount', '金额' %></th>
                <th><%= sortable 'transaction_type', '类型' %></th>
                <th><%= sortable 'transaction_category_id', '类别' %></th>
                <th><%= sortable 'created_at', '日期' %></th>
                <th>详细信息</th>
                <th></th>
            </tr>
            <% @paged_transactions.each do |transaction| %>
                <%= render :partial=>transaction %>
            <% end %>
        </table>
        <div style="float:right;display:inline">
            <%= paginate @paged_transactions %>
        </div>
    </div>
</div>

<% if @account %>
    <script type="text/javascript">
      $("#account_sidebar_item_<%= @account.id %>").addClass("active");
      $("#account_sidebar_current_<%= @account.id%>").show();
    </script>
<% end %>

