$('#new-transaction').html($('<%= escape_javascript(render(:partial => "form", :object=>@transaction)) %>'))
$('#new-transaction-modal').modal('toggle');

$('#transaction_created_at_value').datepicker({ altFormat: "yy-mm-dd", dateFormat: "yy年mm月dd日", altField: '#transaction_created_at', maxDate: "+0D", showButtonPanel: true});

$('#toggle-description-link').bind('click', function() {
  if ($('#transaction-description').css("display") == "none") {
    $('#transaction-description').show();    
  } else {
    $('#transaction-description').hide(); 
  }
});

$('#transaction_transaction_type').bind('change', function() {
  $('#transaction_transaction_category').empty();
  $('#transaction_transaction_category_field').show();
  if ($(this).val() == 1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
  if ($(this).val() == -1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=-1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
});
