// show the modal dialog
$('#new-transaction').html($('<%= escape_javascript(render(:partial => "form", :object=>@transaction)) %>'));
$('#new-transaction-modal').modal('toggle');

// clear the header selectors
function clear() {
  $('.modal-header-btn-group .active').removeClass('active');
  $('.modal-header-btn-group .btn-info').removeClass('btn-info');
  $('#transaction-cash-in-out').hide();
}

var nonCash = ['1', '3'];
var cash = ['2'];
var nonCredit = ['1', '2'];
var credit = ['3'];
var all = ['1', '2', '3'];

function fill_accounts(fromCategories, toCategories, removeLink) {

  removeLink = typeof removeLink !== 'undefined' ? removeLink : true;

  $('.visible-transfer #transaction_transfer_account').empty();
  $('.visible-transfer #transaction_link_account').empty();
  <% @accounts.each do |account| %>
    if ($.inArray('<%= account.category %>', fromCategories) != -1) {
        $('.visible-transfer #transaction_transfer_account').append('<option value="<%= account.id %>"><%= account.name %></option>');
    }
    if ($.inArray('<%= account.category %>', toCategories) != -1) {
        $('.visible-transfer #transaction_link_account').append('<option value="<%= account.id %>"><%= account.name %></option>');
    }
  <% end %>
  var selected = '<%= @account ? @account.id : @accounts[0].id %>';
  var selectedCategory = '<%= @account ? @account.category : @accounts[0].category %>';
  if ($.inArray(selectedCategory, fromCategories) != -1) {
    $('.visible-transfer #transaction_transfer_account option[value="' + selected + '"]').attr('selected', 'selected');
    if (removeLink) {
      $('.visible-transfer #transaction_link_account option[value="' + selected + '"]').remove();
    }
  }
}

$('.visible-income-expense #transaction_transaction_type option[value="0"]').remove();

// the events for the header selectors
$('.modal-header-btn-group .btn').bind('click', function() {

  // general operation for all transactions
  clear();
  $(this).addClass("active");
  $(this).addClass("btn-info");

  if ($(this).attr("id") === "new-transaction-income-expense") {
    $("#transaction-transfer").attr("id", "transaction-income-expense");
    $('.visible-income-expense #transaction_transaction_type option[value="0"]').remove();
  } else {
    $('.visible-income-expense #transaction_transaction_type').append('<option value="0"></option>');
    $("#transaction_transaction_type").val("0");
    $("#transaction-income-expense").attr("id", "transaction-transfer");
    if ($(this).attr("id") === "new-transaction-cash") {
      $('#transaction-cash-in-out').show();
      fill_accounts(nonCash, cash);
      $('.visible-transfer #transaction_transfer_account').unbind('change');
    } else if ($(this).attr("id") === "new-transaction-creditcard") {
      fill_accounts(nonCredit, credit);
      $('.visible-transfer #transaction_transfer_account').unbind('change');
    } else if ($(this).attr("id") === "new-transaction-transfer") {
      fill_accounts(all, all);
      <% if @accounts && @accounts.length >= 2 %>
        $('.visible-transfer #transaction_transfer_account').bind('change', function() {
          var selected = $(this).val();
          fill_accounts(all, all, false);
          $('.visible-transfer #transaction_transfer_account option[value="' + selected + '"]').attr('selected', 'selected');
          $('.visible-transfer #transaction_link_account option[value="' + selected + '"]').remove();
        });
      <% end %>
    }
  }
});


// deposit
$('#new-transaction-cash-in').bind('click', function() {
  $('#new-transaction-cash-out').removeClass('active btn-info');
  $(this).addClass('active btn-info');
  fill_accounts(cash, nonCash);
});

// withdraw
$('#new-transaction-cash-out').bind('click', function() {
  $('#new-transaction-cash-in').removeClass('active btn-info');
  $(this).addClass('active btn-info');
    fill_accounts(nonCash, cash);
});


// the date selector
$('#transaction_created_at_value').datepicker({ altFormat: "yy-mm-dd", dateFormat: "yy年mm月dd日", altField: '#transaction_created_at', maxDate: "+0D", showButtonPanel: true});

// the description toggler
$('#toggle-description-link').bind('click', function() {
  if ($('#transaction-description').css("display") == "none") {
    $('#transaction-description').show();    
  } else {
    $('#transaction-description').hide(); 
  }
});

// the transaction types
$('#transaction_transaction_type').bind('change', function() {
  $('#transaction_transaction_category').empty();
  $('#transaction_transaction_category_field').show();
  if ($(this).val() == 1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
  if ($(this).val() == -1) {
    <% for category in TransactionCategory.find(:all, :conditions => "transaction_type=-1") %>
      $('#transaction_transaction_category').append('<option value="<%= category.id %>"><%= category.name %></option>')
    <% end %>
  }
});
