<!DOCTYPE html>
<html>
  <head>
    <title>Project Hamburg - 财务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "accounts", :media => "all" %>
    <%= stylesheet_link_tag    "transactions", :media => "all" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "accounts" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="wrap">

      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li><a class="brand" href="/"><span style="color:#BB2222">H</span>amburg</a></li>
            </ul>
            <ul class="nav pull-right">
               <% if user_signed_in? %>
                  <li><a href="#">我的目标</a></li>
                  <li><a href="#">我的预算</a></li>
                  <li class="active"><%= link_to "我的财务", accounts_path %></li>
                  <li><%= link_to '记帐', new_transaction_path, :remote=>true %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#">个人信息</a>
                        </li>
                        <li>
                          <a href="#">设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "退出", destroy_user_session_path, :method=>:delete %>
                        </li>
                      </ul>
                  </li>
               <% else %>
                  <li><%= link_to "登录", new_user_session_path %></li>
                  <li><%= link_to "注册", new_user_registration_path %></li>
               <% end %>
            </ul>
          </div>
        </div>
      </div>

      <br/>
      <div class="row-fluid">
        <div class="span10 offset1">
          <div class="row-fluid">
              <div class="span3" style="min-width:240px">
                  <div class="well sidebar-nav accounts-sidebar">  
                      <ul class="nav nav-list">  
                          <li class="nav-header">我的帐户
                              <%= link_to new_account_path, :class=>"pull-right", :remote=>true do %>
                                  <i class="icon-edit" style="margin-top:3px"></i><span style="font-size:12px;">添加</span>
                              <% end %>
                          </li>  
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="collapse" data-target="#accounts-cash" class="accounts-sidebar-header">
                                现金<div style="float:right"><%= number_to_currency(@subtotal_by_category['2'] ? @subtotal_by_category['2'] : 0, :unit => "&yen; ") %></div>
                              </a>
                              <ul id="accounts-cash" class="collapse in">
                                  <% if !@accounts_by_category['2'] %>
                                    <li id="accounts-cash-placeholder">还没有现金帐户。<%= link_to "添加", new_account_path, :remote=>true %></li>
                                  <% else %>
                                    <% @accounts_by_category['2'].each do |account| %>
                                      <%= render_sidebar_item_for account %>
                                    <% end %>
                                  <% end %>
                              </ul>
                          </li>  
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="collapse" data-target="#accounts-savings" class="accounts-sidebar-header">储蓄
                            <div style="float:right"><%= number_to_currency(@subtotal_by_category['1'] ? @subtotal_by_category['1'] : 0, :unit => "&yen; ") %></div></a> 
                              <ul id="accounts-savings" class="collapse in">
                                  <% if !@accounts_by_category['1'] %>
                                    <li id="accounts-cash-placeholder">还没有储蓄帐户。<%= link_to "添加", new_account_path, :remote=>true %></li>
                                  <% else %>
                                    <% @accounts_by_category['1'].each do |account| %>
                                      <%= render_sidebar_item_for account %>
                                    <% end %>
                                  <% end %>
                              </ul>
                          </li>
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="collapse" data-target="#accounts-credit" class="accounts-sidebar-header">信用
                            <div style="float:right"><%= number_to_currency(@subtotal_by_category['3'] ? @subtotal_by_category['3'] : 0, :unit => "&yen; ") %></div></a> 
                              <ul id="accounts-credit" class="collapse in">
                                  <% if !@accounts_by_category['3'] %>
                                    <li id="accounts-cash-placeholder">还没有信用帐户。<%= link_to "添加", new_account_path, :remote=>true %></li>
                                  <% else %>
                                    <% @accounts_by_category['3'].each do |account| %>
                                      <%= render_sidebar_item_for account %>
                                    <% end %>
                                  <% end %>
                              </ul>
                          </li>  
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="collapse" data-target="#accounts-investment" class="accounts-sidebar-header">投资
                            <div style="float:right"><%= number_to_currency(@subtotal_by_category['4'] ? @subtotal_by_category['4'] : 0, :unit => "&yen; ") %></div></a> 
                              <ul id="accounts-investment" class="collapse in">
                                  <% if !@accounts_by_category['4'] %>
                                    <li id="accounts-cash-placeholder">还没有投资帐户。<%= link_to "添加", new_account_path, :remote=>true %></li>
                                  <% else %>
                                    <% @accounts_by_category['4'].each do |account| %>
                                      <%= render_sidebar_item_for account %>
                                    <% end %>
                                  <% end %>
                              </ul>
                          </li>  
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="collapse" data-target="#accounts-property" class="accounts-sidebar-header">房产</a> 
                              <ul id="accounts-property" class="collapse in">
                                  <li id="accounts-property-placeholder">还没有房产。<%= link_to "添加", new_account_path, :remote=>true %></li>
                              </ul>
                          </li>  
                          <li class="divider"></li><br/>
                          <li><h4>总资产  <div style="float:right"><%= number_to_currency(@total, :unit => "&yen; ") %></div></h4><li>
                      </ul>  
                  </div> 
              </div>
              <div class="span8">
                <%= yield %>
              </div>
          </div>
        </div>
      </div>

      <div id="new-transaction"> </div>
      <div id="new-account"> </div>

    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span1 offset2"><a href="#">关于我们</a></div>
          <div class="span1 offset1"><a href="#">隐私条款</a></div>
          <div class="span1 offset1"><a href="#">联系我们</a></div>
          <div class="span3 offset1">北京xx科技发展有限公司</div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="flot/excanvas.min.js"></script><![endif]-->

    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $("[rel=nofollow]").tooltip();
    </script>

  </body>
</html>
