<%= form_for(@account, :remote => true) do |f| %>
<div class="modal hide show fade" id="new-account-modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <% if @account.persisted? %>
      <h3>修改帐户</h3>
    <% else %>
      <h3>新帐户</h3>
    <% end %>
  </div>

  <div class="modal-body">
    <div class="field">
      类型 : <%= f.select :category, [["储蓄帐户",'1'],["信用帐户",'3'],["现金",'2'], ["理财帐户", '4']] %>
    </div>
    <div class="field">
      名称 : <%= f.text_field :name, :placeholder=>"如\"招行金葵花\"", :class=>"input-80" %>
    </div>
    <div class="field">
      余额 : <%= f.text_field :balance, :placeholder=>"帐户余额" %>
      <%= f.select :currency, Currency.all.collect {|p| [ p.code, p.id ]}, {:selected=>@account.currency.nil? ? 31 : @account.currency.id}, :style=>"margin-left:10px" %>
    </div>
    <div class="field">
      利率 : <%= f.text_field :interest_rate %>
    </div>
    <div class="field" id="max_credit_div">
      额度 : <%= f.text_field :max_credit %>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">取消</a>
    <% if @account.persisted? %>
      <%= f.submit "修改帐户", :class=>"btn btn-primary"%>
    <% else %>
      <%= f.submit "创建帐户", :class=>"btn btn-primary"%>
    <% end %>
  </div>
</div>
<% end %>

