
<%= link_to "修改帐户", edit_account_path(@account), :remote=>true %>
  <td><%= link_to '删除', @account, method: :delete, :remote=>true, data: { confirm: '确定要删除吗？' } %></td>

<%= render :partial=>"transactions/transactions" %>

<script type="text/javascript">
  $("#account_sidebar_item_<%= @account.id %>").addClass("active");
  $("#account_sidebar_current_<%= @account.id%>").show();
</script>
