<div  style="min-width:480px">
  <div class="row-fluid">
    <div class="span6">
      <h3>帐户信息 - <%= @account.name %></h3>
    </div>
    <div class="span3 offset3" style="margin-top:15px;">
      <div style="float:right">
        <%= link_to new_account_transaction_path(@account), :remote=>true, :class=>"btn btn-inverse", :account=>@account do %>
          <i class="icon-plus-sign icon-white"></i> <div style="font-size:20px;display:inline">记帐</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <b>余额 : <%= @account.balance %></b>
    </div>
    <div class="span3">
      <b>币种 : <%= @account.currency.code %></b>
    </div>
    <div class="span4">
      <b>立户时间 : <%= l @account.created_at %></b>
    </div>
    <div class="span2">
      <%= link_to edit_account_path(@account), :remote=>true, :rel=>"tooltip", :title=>"修改帐户" do %>
        <i class="icon-pencil"></i> <div style="font-size:11px;display:inline"></div>
      <% end %>
      &nbsp;
      <%= link_to @account, method: :delete, :remote=>true, data: { confirm: '确定要删除吗？' }, :title=>"删除帐户" do %>
        <i class="icon-remove"></i> <div style="font-size:11px;display:inline"></div>
      <% end %>
    </div>
  </div>

  <% if @account.category === "信用帐户" %>
  <div class="row-fluid">
    <div class="span4">
      额度 : <%= @account.max_credit %>
    </div>
  </div>
  <% end %>

  <br/>

  <h3>最近一周的流水 
      <span style="font-size:.6em;float:right;margin-top:5px;font-weight:normal">
        <%= link_to account_transactions_path(@account) do %>
          <i class="icon-th-list"></i> 显示全部
        <% end %>
      </span>
  </h3>
  <%= render :partial=>"transactions/transactions" %>

</div>

<script type="text/javascript">
  $("#account_sidebar_item_<%= @account.id %>").addClass("active");
  $("#account_sidebar_current_<%= @account.id%>").show();
</script>

